

<p> Ici c'est notre super site de potins !! Chouette!!!</p>
<p> <% @gossips.each do |g| %> <br>

<div class="card text">

  <div class="card-body">
    <h5 class="card-title"><%="Titre : #{g.title}" %></h5>
    <h5 class="card-title"><%= " Auteur : #{g.user.first_name}" %></h5>
    <h5 class="card-title"><%= " Ville : #{g.user.city.name}" %></h5>
    <h5 class="card-title"><%="Titre : #{g.content}" %></h5>
    <p><%= g.likes.count %> <%= (g.likes.count) == 1 ? 'Like' : 'Likes'%>
    <% if logged_in? %>
    <%= button_to 'Like', gossip_likes_path(g.id), method: :post %>
    <% pre_like = g.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
    <% else %>
    <% end %>
    <% else %> 
    <h5 class="card-title"><%="Pour liker connnectes toi" %></h5> 
    <% end %>
    </p>
    <a href="<%= gossip_path(g.id) %>" class="btn btn-primary"> Show ce gossip </a>
    <a href="<%= city_path(g.user.city.id) %>" class="btn btn-success"> Show City Gossip </a>
    <% if g.user.id == current_user.id %>
    <a href="<%= edit_gossip_path(g.id) %>" class="btn btn-secondary"> Edit ce gossip </a>
    <a href="<%= gossip_path(g.id) %>" class="btn btn-danger" data-confirm="Êtes vous sur ?" data-method="DELETE"> Delete Gossip </a>
    <% else %> 
    <h5 class="card-title"><%="Seul l'auteur peut modifier" %></h5> 
    <% end %>
  </div>
</div>

	<%end%>
</p>

