<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>


  <body> <!--------------HEADER AVEC NAV---------------------------->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

       <!---  <a class="navbar-brand" href="#">Navbar</a> -->


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <!--------------CONTENU NAV---------------------------->


  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">

      <li class="nav-item">
         <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>

       <li class="nav-item">
        <%= link_to "Team", team_path, class: "nav-link" %>
      </li>

    </ul>

  </div>
</nav>
    <%= yield %>

  </body>
</html>
